# Binaries for programs and plugins
/secspy
*.exe
*.exe~
*.gz

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendors, Libraries.
/vendor

# Editor junk, add your own.
*~
README
README.html
secspy_manual.html
release
package_build_*
MANUAL
