# These are all built by the Makefile.
# Binaries, Packages, Formula, Manual
/secspy
/secspy*.gz
/secspy*.zip
/secspy*.1
/secspy*.deb
/secspy*.rpm
/secspy.*.arm
/secspy.exe
/secspy.*.macos
/secspy.*.linux
/secspy.rb

# Random things the Makefile creates.
*.sha256
/vendor
/package_build_*
/release
MANUAL
MANUAL.html
README
README.html
/secspy_manual.html
/homebrew_release_repo
/.metadata.make
/.secret_files.tar
/bitly_token
/github_deploy_key

# extra junk
.DS_Store
*~
